Repository ryoppippi/str-fns: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

.lintstagedrc:

{
	"src/*.{js,ts}": ["pnpm format", "pnpm lint"],
	"src/*.test.{js,ts}": ["pnpm npm-run-all 'test:* -- --run'"]
}

add action-timeline
  .github/workflows/ci.yaml
Due: none

back to dts-buddy
  .github/workflows/ci.yaml
  bun.lockb
  package.json
  scripts/build.ts
Due: none

Revert "back to dts-buddy"
  .github/workflows/ci.yaml
  bun.lockb
  package.json
  scripts/build.ts
Due: none

back to dts-buddy
  bun.lockb
  package.json
  scripts/build.ts
Due: none

Revert "back to dts-buddy"
  bun.lockb
  package.json
  scripts/build.ts
Due: none

add sourcemap config
  tsconfig.json
Due: none

stop using dts-buddy and use tsc to generate declaration
  bun.lockb
  package.json
  scripts/build.js
  scripts/build.ts
  tsconfig.json
Due: none

delete build scripts
  scripts/build.js
Due: none

lint apply
  src/capitalize.test.ts
  src/lowercase.test.ts
  src/split.test.ts
  src/uncapitalize.test.ts
  src/uppercase.test.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

fix(split.js): typecheck test
  src/split.js
Due: pnpm format, pnpm lint

feat: Convert JS files to TS and refactor code
  package.json
  src/capitalize.js
  src/capitalize.ts
  src/index.ts
  src/lowercase.js
  src/lowercase.ts
  src/split.js
  src/split.ts
  src/uncapitalize.js
  src/uncapitalize.ts
  src/uppercase.js
  src/uppercase.ts
Due: pnpm format, pnpm lint

feat(workflow): delete build command from ci
  .github/workflows/ci.yaml
Due: none

feat(package.json): fix paths
  package.json
Due: none

fix(README.md): delete description about JSDoc
  README.md
Due: none

feat: bun to deno
  bun.lockb
  bunfig.toml
  deno.json
  deno.lock
  import_map.json
  package.json
  src/index.ts
  tsconfig.json
Due: pnpm format, pnpm lint

feat: buntest to denotest
  .github/workflows/ci.yaml
  deno.json
  deno.lock
  import_map.json
  src/capitalize.test.ts
  src/capitalize.ts
  src/lowercase.test.ts
  src/lowercase.ts
  src/split.test.ts
  src/split.ts
  src/uncapitalize.test.ts
  src/uncapitalize.ts
  src/uppercase.test.ts
  src/uppercase.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

feat(import_map.json): fix using jsr
  deno.lock
  import_map.json
Due: none

feat(biome): delete biome
  biome.json
Due: none

feat: format files
  README.md
  deno.json
  renovate.json
  src/capitalize.ts
  src/lowercase.ts
  src/split.ts
Due: pnpm format, pnpm lint

delete githooks
  .githooks/pre-commit
Due: none

feat(ci): add deno lint/fmt/check and so on
  .github/workflows/ci.yaml
  deno.json
Due: none

feat(ci): add codecov support
  .github/workflows/ci.yaml
  deno.json
Due: none

feat(README.md): update badges
  README.md
Due: none

feat(deno fmt): ignore markdown
  deno.json
Due: none

feat: add github workflow for jsr upload
  .github/workflows/jsr.yaml
  deno.json
Due: none

fix(deno.json): fix test args
  deno.json
Due: none

feat(deno test): use dynamic import
  src/capitalize.ts
  src/lowercase.ts
  src/split.ts
  src/uncapitalize.ts
  src/uppercase.ts
Due: pnpm format, pnpm lint

feat: Separate tests from implementation
  deno.json
  src/capitalize.test.ts
  src/capitalize.ts
  src/lowercase.test.ts
  src/lowercase.ts
  src/split.test.ts
  src/split.ts
  src/uncapitalize.test.ts
  src/uncapitalize.ts
  src/uppercase.test.ts
  src/uppercase.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

feat(deno.json): update task commands
  deno.json
Due: none

refactor: Rename deno.json to deno.jsonc
  deno.jsonc
Due: none

feat(deno): update import configuration
  deno.jsonc
  deno.lock
  import_map.json
Due: none

feat(ci.yaml): add DENO_VERSION env variable
  .github/workflows/ci.yaml
Due: none

feat(ci.yaml): add npm publish dry-run step
  .github/workflows/ci.yaml
Due: none

feat: Add npm publishing workflow
  .github/workflows/npm.yaml
  .gitignore
  deno.jsonc
  deno.lock
  scripts/build_npm.ts
Due: none

feat: Move imports to separate import_map.json
  deno.jsonc
  deno.lock
  import_map.json
Due: none

feat(build_npm.ts): add importMap to build script
  scripts/build_npm.ts
Due: none

chore(license): update copyright year
  LICENSE
Due: none

feat(README): Update language and add license info
  README.md
Due: none

feat: Update dependencies and import map
  deno.lock
  import_map.json
Due: none
