Repository ryoppippi/str-fns: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

remove husky
  .githooks/pre-commit
  .husky/pre-commit
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: none

wip
  src/slice.js
  src/slice.test.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

add cron event on workflow
  .github/workflows/ci.yml
Due: none

update latest
  package.json
  pnpm-lock.yaml
Due: none

add renovate config
  renovate.json
Due: none

fix githooks
  .githooks/pre-commit
  package.json
Due: none

fix renovate
  renovate.json
Due: none

fix prettier confi
  .prettierrc
Due: none

update renovate.json
  .prettierignore
  renovate.json
Due: none

Release 0.0.10
  package.json
Due: none

pnpm to bun
  bun.lockb
  pnpm-lock.yaml
Due: none

github actions: pnpm -> bun
  .github/workflows/ci.yml
Due: none

pnpm->bun
  package.json
Due: none

delete volta config
  package.json
Due: none

fix cache: cache bun's global store instead of node_modules
  .github/workflows/ci.yml
Due: none

github actions: delete cache store
  .github/workflows/ci.yml
Due: none

fix githooks: pnpm -> bun
  .githooks/pre-commit
Due: none

delete lintstaged as a dependency
  .githooks/pre-commit
  bun.lockb
  package.json
Due: none

delete only node_module cache
  .github/workflows/ci.yml
Due: none

delete webdriverio and add bun-types
  bun.lockb
  package.json
  tsconfig.json
Due: none

rename ci.yml -> ci.yaml
  .github/workflows/ci.yaml
Due: none

add workflow to update lockfile
  .github/workflows/update_lockfile.yaml
Due: none

update lockfile
  bun.lockb
Due: none

add lockb info to gitattributes
  .gitattributes
Due: none

delete update_lockfile
  .github/workflows/update_lockfile.yaml
Due: none

delete update_lockfile (#105)
  .github/workflows/update_lockfile.yaml
Due: none

vitest -> bun test && remove vite
  bunfig.toml
  src/capitalize.test.ts
  src/lowercase.test.ts
  src/split.test.ts
  src/uncapitalize.test.ts
  src/uppercase.test.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

vitest -> bun test && remove vite
  .githooks/pre-commit
  .github/workflows/ci.yaml
  bun.lockb
  package.json
  src/capitalize.js
  src/lowercase.js
  src/split.js
  src/uncapitalize.js
  src/uppercase.js
  tsconfig.json
  vite.config.ts
Due: pnpm format, pnpm lint

dts-buddy -> bun-plugin-dts
  .eslintignore
  bun.lockb
  package.json
  scripts/build.ts
  tsconfig.json
Due: none

Feature/87 (#107)
  .eslintignore
  .githooks/pre-commit
  .github/workflows/ci.yaml
  bun.lockb
  bunfig.toml
  package.json
  scripts/build.ts
  src/capitalize.js
  src/capitalize.test.ts
  src/lowercase.js
  src/lowercase.test.ts
  src/split.js
  src/split.test.ts
  src/uncapitalize.js
  src/uncapitalize.test.ts
  src/uppercase.js
  src/uppercase.test.ts
  tsconfig.json
  vite.config.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

eslint & prettier -> biome
  .eslintignore
  .eslintrc.cjs
  .prettierignore
  .prettierrc
  biome.json
  bun.lockb
  package.json
Due: none

format
  src/capitalize.js
  src/capitalize.test.ts
  src/lowercase.test.ts
  src/split.test.ts
  src/uncapitalize.js
  src/uncapitalize.test.ts
  src/uppercase.test.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

Feature/106 (#108)
  .eslintignore
  .eslintrc.cjs
  .prettierignore
  .prettierrc
  biome.json
  bun.lockb
  package.json
  src/capitalize.js
  src/capitalize.test.ts
  src/lowercase.test.ts
  src/split.test.ts
  src/uncapitalize.js
  src/uncapitalize.test.ts
  src/uppercase.test.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

fix format
  biome.json
  package.json
  renovate.json
  scripts/build.ts
  src/capitalize.js
  src/capitalize.test.ts
  src/index.js
  src/lowercase.test.ts
  src/split.test.ts
  src/uncapitalize.js
  src/uncapitalize.test.ts
  src/uppercase.test.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

delete lintstaged
  .githooks/pre-commit
  package.json
Due: none

fix format (#109)
  .githooks/pre-commit
  biome.json
  package.json
  renovate.json
  scripts/build.ts
  src/capitalize.js
  src/capitalize.test.ts
  src/index.js
  src/lowercase.test.ts
  src/split.test.ts
  src/uncapitalize.js
  src/uncapitalize.test.ts
  src/uppercase.test.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

ci:add build
  .github/workflows/ci.yaml
  package.json
Due: none

fix: use bun-plugin-dts@0.2.1
  bun.lockb
  package.json
  scripts/build.ts
Due: none

Path conditions:
  pnpm format: any of: src/*.{js,ts}
  pnpm lint: any of: src/*.{js,ts}
  pnpm npm-run-all 'test:* -- --run': any of: src/*.test.{js,ts}
