Repository ryoppippi/str-fns: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

feat: Update docstrings in string functions
  src/capitalize.ts
  src/lowercase.ts
  src/split.ts
  src/uncapitalize.ts
  src/uppercase.ts
Due: pnpm format, pnpm lint

feat(uppercase.ts): update comment style
  src/uppercase.ts
Due: pnpm format, pnpm lint

refactor: import type-fest as a whole module
  src/capitalize.ts
  src/lowercase.ts
  src/split.ts
  src/uncapitalize.ts
  src/uppercase.ts
Due: pnpm format, pnpm lint

feat: upgrade type-fest to version 4.18.1
  deno.lock
  import_map.json
Due: none

feat(concat): Add concat function and tests
  src/cocat.test.ts
  src/concat.ts
  src/index.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

feat: Add concat function to README
  README.md
Due: none

feat(concat): update concat function and tests for non-literal strings
  src/cocat.test.ts
  src/concat.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

feat: Add Deno Update GitHub workflow
  .github/workflows/update.yaml
Due: none

feat: Update deno tasks and dependencies
  .github/workflows/ci.yaml
  deno.jsonc
  deno.lock
Due: none

fix(concat): fix docs syntax
  src/concat.ts
Due: pnpm format, pnpm lint

refactor(tests): simplify type assertions
  src/cocat.test.ts
  src/lowercase.test.ts
  src/split.test.ts
  src/uncapitalize.test.ts
  src/uppercase.test.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

refactor(tests): use 'satisfies' for type assertions
  src/capitalize.test.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

feat(deno.jsonc): Replace importMap with imports
  deno.jsonc
  import_map.json
Due: none

feat: update dependencies and test framework
  deno.jsonc
  deno.lock
  src/capitalize.test.ts
  src/cocat.test.ts
  src/lowercase.test.ts
  src/split.test.ts
  src/uncapitalize.test.ts
  src/uppercase.test.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

feat(build_npm.ts): remove importMap from build script
  scripts/build_npm.ts
Due: none

chore(deps): Update deno dependencies
  deno.jsonc
  deno.lock
Due: none

Update README.md
  README.md
Due: none

feat: Consolidate GitHub workflows into single release workflow
  .github/workflows/jsr.yaml
  .github/workflows/npm.yaml
  .github/workflows/release.yaml
Due: none

feat: add snakecase function and tests
  src/index.ts
  src/snakecase.test.ts
  src/snakecase.ts
Due: pnpm format, pnpm lint, pnpm npm-run-all 'test:* -- --run'

refactor: restructure project and update paths
  deno.jsonc
  mod.ts
  rules/capitalize.test.ts
  rules/capitalize.ts
  rules/cocat.test.ts
  rules/concat.ts
  rules/lowercase.test.ts
  rules/lowercase.ts
  rules/snakecase.test.ts
  rules/snakecase.ts
  rules/split.test.ts
  rules/split.ts
  rules/uncapitalize.test.ts
  rules/uncapitalize.ts
  rules/uppercase.test.ts
  rules/uppercase.ts
  scripts/build_npm.ts
  src/index.ts
Due: pnpm format, pnpm lint

feat: Move renovate.json to .github directory
  .github/renovate.json
Due: none

feat(ci.yaml): Add pkg.pr.now upload to npm-publish job
  .github/workflows/ci.yaml
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

chore(deps): Update deno dependencies
  deno.lock
Due: none

add FUNDING
  .github/FUNDING.yaml
Due: none

feat: deprecate npm
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  README.md
  scripts/build_npm.ts
Due: none

Path conditions:
  pnpm format: any of: src/*.{js,ts}
  pnpm lint: any of: src/*.{js,ts}
  pnpm npm-run-all 'test:* -- --run': any of: src/*.test.{js,ts}
